@charset "UTF-8";
body{
    background-color: wheat;
    margin: 0em;
}
section{
    background-color: beige;
    padding: 1rem;
}
h1{
    color: brown;
    margin-top: 0em;
    margin-bottom: 0.1em;
}
em{font-weight: bold;}
p.tanaka{
    padding: 20px;
    box-sizing: content-box;
    width: 300px;
}
img{
    float: right;
}
div.imgSmall img{
    width: 200px;
}
p.bold{
    margin: auto;
}
a{
    text-align: center;
    width: 200px;
    padding: 0.1em;
}
a.text-link{
    color: #008000;
    text-decoration: underline;
}
a.button-link{
    background: mediumturquoise;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border-bottom: 1px solid #077da1;
    border-right: 1px solid #077da1;
    margin: 40px;
    padding: 5px;
}
a.button-link:active{
    border-bottom: none;
    border-right: none;
    transform: rotateY(1px);
    color: white;
}
ul.g-nav-list{
    background: rgb(175, 219, 93);
    text-align: center;
    margin: 0px;
}
ul.g-nav-list li{
    display: inline-block;
}
ul.g-nav-list li a{
    display: block;
    padding: 1em;
    color: rgb(20, 88, 151);
    font-size: 12px;
    text-decoration: none;
}
ul.g-nav-list li a::first-line {
    font-size: 20px;
    font-weight: bold;
}

/* 画面幅が480px以下の場合にcssを適応  モバイル用*/
@media screen and (max-width: 480px){

}

/* 画面幅が960px以上の場合にcssを適応  PC画面および大きなタブレット用*/
@media screen and (min-width: 960px){
/* ホバー時のスタイルの指定 モバイルでも有効にするとiPhoneなどのデバイスだと2回タップしなければリンク先に飛べない問題がある*/
a:hover{
    /* 不透明度70% */
    opacity: 0.7;
}
}

/* 画面幅が481px以上959px以下の場合にcssを適応  タブレット用*/
@media screen and (min-width: 481px) and (max-width:959px){

}