@charset "UTF-8";
section{background-color: beige;}
h1{
    color: brown;
    margin-bottom: 1em;
}
em{font-weight: bold;}
p.tanaka{
    padding: 20px;
    box-sizing: content-box;
    width: 300px;
}
img{
    float: right;
}
div.imgSmall img{
    width: 200px;
}
p.bold{
    margin: auto;
}

 /* 画面幅が480px以下の場合にcssを適応  モバイル用*/
@media screen and (max-width: 480px){

}

/* 画面幅が960px以上の場合にcssを適応  PC画面および大きなタブレット用*/
@media screen and (min-width: 960px){

}

/* 画面幅が481px以上959px以下の場合にcssを適応  タブレット用*/
@media screen and (min-width: 481px) and (max-width:959px){

}