<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial=scale=1">
        <title>title</title>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <div id="app">
            <!-- vueインスタンスに含まれるdataオプションのvallueを表示する場合、{{ [valueを表示したいkeyを指定s] }} -->
            {{ message }}
            <!-- Mustache構文では足し算もできる -->
            {{ 1 + 1 }}
            <div>
                {{ 2 +2 }}
            </div>
            <div>
                {{ AAA }}
            </div>
            <!-- VueインスタンスのデータはHTMLの属性値(<タグ>の中のやつ)にも使用できる -->
            <!-- しかし、属性値ではMustache構文を使用することができない -->

            <!-- 属性値でVueインスタンスのデータを参照するには　v-bind　ディレクティブを用いる -->
            <!-- v-bind ディレクティブは v-bind:属性名＝”参照するデータ名" の形で使う -->

            <!-- ディレクティブとはVue.jsで用いられる特別な属性 -->
            <!-- ディレクティブを表す特徴として　v-　の接頭辞がついている。 -->
            <a v-bind:href="AAA">Vue.js</a>
            <a :href="AAA">Vue.js</a>

            <!-- スマホとタブレットでjsのオブジェクトにtrue or falseを渡すことで切り替えれそう -->
            <!-- いや、普通に v-if でできましたわ -->
            <div :class="{foo: isFoo, bar:isBar}"></div>
            <div :class="[bazClass]"></div>
            <p v-if="inStock > 10">在庫あり</p>
            <p v-else-if="inStock > 5">あとちょっとでなくなる</p>
            <p v-else>ほらなくなちゃった、あーあ</p>
            <ul>
                <li v-for="item in items" v-bind:key="item">
                    {{ item }}
                </li>
            </ul>
            <div v-on:click="count = count + 1">カウントの追加 </div>
            <button> {{ count }} </button>
            <button v-on:click="cnt = 4 - 1/cnt ">カウントの...</button>
            <div v-if="cnt > 3.73 && cnt < 3.74">もう計算したくないよ</div>
            <div>{{ cnt }}</div>
            <button @click="addCntX">
                    {{ cntX }}
            </button>
        </div>
        <script src="./sample01.js"></script>
    </body>
</html>